.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}
.main .nav p{
    display: flex; align-items: center;
    gap: 10px;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.main .main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin: 50px 0px;
    font-size: 50px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet p span{
    font-weight: 600;
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
}
.main .card p{
    color: #585858;
    font-size: 17px;
}
.main .card:hover{
    background-color: #dfe4ea;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
  
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box textarea{
    resize: none;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
}
textarea::-webkit-scrollbar{
    display: none;
}
.search-box div{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 7px;
}

.bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.result{
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;

}
.result::-webkit-scrollbar{
    display: none;
}
.result-title{
    margin: 40px 0px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.result img{
    width: 40px;
    border-radius: 50%;
}
.result-data
{
    display: flex;
    align-items: start;
    gap: 20px;
}
.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 15px;
    animation: loader 3s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;
}

@media (max-width: 600px){
    .main .card{
        display: none;
    }
    .main-bottom textarea{
        /* flex: none; */
        /* width: 150px; */
        font-size: 16px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box {
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}