:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root{
  min-height: 100vh;
  display: flex;
}